@model BuyUnion.Models.Order
@{
    ViewBag.Title = "微信支付";
}

<div class="">

    <div class="orderSubmitWaitpayM-counts">
        <div class="grey">应付金额</div>
        <div class="red s4">@Html.DisplayFor(model => model.Amount)元</div>
    </div>
    @using (Html.BeginForm())
    {
        <input type="hidden" name="name" value="@ViewBag.ReturnUrl" />
        <input id="wxJsApiParam" type="hidden" data-param="@ViewBag.wxJsApiParam" />
        <div class="buttonStyleM orderSubmitWaitpayM-btns">
            <input id="btnSubmit" type="button" value="确定" />
        </div>
    }
</div>
@section Scripts{
    @Scripts.Render("~/Bundels/orderPayOnWeiXin")
}