@{
    ViewBag.Title = "主页";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

@Styles.Render("~/bundles/swiper/css")

<div class="homeIndexM">
    <div class="homeIndexM-swiper">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="~/Content/Images/home/home_slide_img04.jpg"/>
                    <div class="arrow-up"></div>
                </div>
                <div class="swiper-slide">
                    <img src="~/Content/Images/home/home_slide_img05.jpg" />
                    <div class="arrow-up"></div>
                </div>
                <div class="swiper-slide">
                    <img src="~/Content/Images/home/home_slide_img01.jpg" />
                    <div class="arrow-up"></div>
                </div>
                <div class="swiper-slide">
                    <img src="~/Content/Images/home/home_slide_img02.jpg" />
                </div>
            </div>
        </div>
    </div>
    <a class="homeIndexM-navBtn" href="#">立即购买</a>
</div>



@section Scripts{
    @Scripts.Render("~/bundles/swiper/js")
    @Scripts.Render("~/bundles/homeIndex")
}