@import "../base";

.orderSubmit {
    padding: 5rem*@resize;

    .orderSubmit-type {
        display: inline-block;
        margin-right: 5rem*@resize;

        input[type=radio] {
            display: none;

            + label {
                font-weight: normal;
                border: @border;
                padding: 0 3rem*@resize;
            }

            &:checked {
                + label {
                    @c: red;
                    border-color: @c;
                    color: @c;
                }
            }
        }
    }

    input {
        border: @border;
    }

    select {
        border: @border;
    }

    .consigneeInfo {
        margin-left: 20rem*@resize;

        td {
            padding: 3rem*@resize;
        }
    }
}
